In [3]:
print('Hello, Python!')

Hello, Python!

In [4]:
print('Hello, Syed Rafeeq')

Hello, Syed Rafeeq

In [6]:
import sys
Print(sys.version)

NameError: name 'Print' is not defined

In [7]:
import sys

In [8]:
Print(sys.version)

NameError: name 'Print' is not defined

In [10]:
import sys
Print(sys. version)

NameError: name 'Print' is not defined

In [11]:
# Check the Python Version

import sys
print(sys.version)

3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0]

In [12]:
import sys
print(sys.version)

3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0]

In [13]:
print('Hello, python!')

Hello, python!

In [14]:
import sys
print(sys.version)

3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0]

In [16]:
print('Hello, python!')
#print('Hi')

Hello, python!

In [17]:
frint("hello")

NameError: name 'frint' is not defined

In [18]:
print('Hello pyhton)

SyntaxError: EOL while scanning string literal (<ipython-input-18-aa47563274c2>, line 1)

In [19]:
print('this will print')
frint('this will not print')
print("this will not print")

this will print

NameError: name 'frint' is not defined

In [20]:
print('Hello, world!')

Hello, world!

In [21]:
print("Hello, World!") #print("traditional Hello world")

Hello, World!

In [22]:
type(11.2)

float

In [23]:
type("Hello, python!")

str

In [24]:
type(1)

int

In [25]:
type(0
    )

int

In [26]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [27]:
type(2)

int

In [29]:
float(2)

2.0

In [30]:
type(float(2))

float

In [31]:
int(1.1)

1

In [32]:
int("1")

1

In [33]:
int("1 or 2 people")

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [34]:
float("1/12")

ValueError: could not convert string to float: '1/12'

In [35]:
float("1.2")

1.2

In [36]:
str(1
   )

'1'

In [37]:
str(1.1)

'1.1'

In [38]:
True

True

In [39]:
False

False

In [40]:
type(True)

bool

In [41]:
type(False)

bool

In [42]:
int(True)

1

In [43]:
bool(1)

True

In [44]:
int(False)

0

In [45]:
bool(0)

False

In [46]:
float(True)

1.0

In [47]:
bool(1.0)

True

In [48]:
str("Heelo")

'Heelo'

In [49]:
str(True)

'True'

In [50]:
bool(1)

True

In [51]:
bool("hello")

True

In [52]:
str(False)

'False'

In [53]:
bool("Heelo")

True

In [55]:
bool("What the hell")

True

In [56]:
6/2

3.0

In [57]:
6//2

3

In [58]:
12+12+12

36

In [59]:
1+!+1

SyntaxError: invalid syntax (<ipython-input-59-bc587b9ce7b1>, line 1)

In [60]:
1+1+1

3

In [62]:
10-2-2-2

4

In [63]:
5*5

25

In [64]:
5/6

0.8333333333333334

In [65]:
6/5

1.2

In [66]:
6//5

1

In [67]:
time_min=160

In [68]:
time_hour=time_min/60

In [69]:
time_hours:time_min/60

In [70]:
160/60

2.6666666666666665

In [71]:
30+2*60

150

In [72]:
(30+150)*4

720

In [73]:
x=23+34+34+34

In [74]:
x

125

In [75]:
y=x+5

In [76]:
y

130

In [77]:
x=x+50

In [78]:
x

175

In [79]:
time_min=45+45+45

In [80]:
time_min

135

In [81]:
time_hours=time_min/60

In [82]:
time_hours

2.25

In [83]:
total_hours=(45+45+45)/60

In [84]:
total_hours

2.25

In [85]:
print("Syed Rafeeq")

Syed Rafeeq

In [86]:
print(name[4])

NameError: name 'name' is not defined

In [87]:
Name=Syed Rafeeq

SyntaxError: invalid syntax (<ipython-input-87-493480d7c7fc>, line 1)

In [88]:
Name="Syed Rafeeq from IBM"

In [89]:
print(name[5])

NameError: name 'name' is not defined

In [90]:
print(Name[5])

R

In [91]:
len(Name)

20

In [92]:
print(Name[18])

B

In [93]:
print(Name[4])

In [94]:
print(Name[-5])

m

In [95]:
Name

'Syed Rafeeq from IBM'

In [96]:
Name[0-4]

' '

In [97]:
Name[0-4]=

SyntaxError: invalid syntax (<ipython-input-97-bd57fb1838ea>, line 1)

In [98]:
name=syed rafeeq

SyntaxError: invalid syntax (<ipython-input-98-bb8eb4466aa5>, line 1)

In [99]:
name="syed rafeeq"

In [100]:
name[0:4]

'syed'

In [101]:
name[5:8]

'raf'

In [102]:
len(name
)

11

In [103]:
name[6:11]

'afeeq'

In [104]:
name[5:11]

'rafeeq'

In [105]:
name[::2]

'se aeq'

In [106]:
name[1:5:6]

'y'

In [107]:
name[0:5:2]

'se '

In [108]:
state=name+"from IBM"

In [109]:
state

'syed rafeeqfrom IBM'

In [110]:
b=state.replace("from", " from")

In [111]:
b

'syed rafeeq from IBM'

In [112]:
b.find("from")

12

In [113]:
name[12:16]

''

In [114]:
b[12:16
]

'from'

In [115]:
3*b

'syed rafeeq from IBMsyed rafeeq from IBMsyed rafeeq from IBM'

In [116]:
b

'syed rafeeq from IBM'

In [117]:
b=b-"from IBM"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [118]:
print('Syed Rafee /n from IBM')

Syed Rafee /n from IBM

In [119]:
print('syed rafeeq \n from IBM')

syed rafeeq
 from IBM

In [121]:
print('syed rafeeq \t from IBm')

syed rafeeq 	 from IBm

In [122]:
print('syed rafeeq  \\ from IBM')

syed rafeeq  \ from IBM

In [123]:
b

'syed rafeeq from IBM'

In [124]:
c=b.upper()

In [125]:
c

'SYED RAFEEQ FROM IBM'

In [126]:
c=c.lower()

In [127]:
c

'syed rafeeq from ibm'

In [130]:
c="syed rafeeq from dnata"
print("before upper:", c)
c=b.upper()
print("after upper:" , c)

before upper: syed rafeeq from dnata
after upper: SYED RAFEEQ FROM IBM

In [139]:
c="syed rafeeq from IBM"
print("before upper:" ,c)
c=c.upper()
print("after upper:" ,c)

before upper: syed rafeeq from IBM
after upper: SYED RAFEEQ FROM IBM

In [132]:
c

'syed rafeeq from IBM'

In [133]:
c=c.upper()

In [134]:
c

'SYED RAFEEQ FROM IBM'

In [140]:
c.find[ed]

NameError: name 'ed' is not defined

In [141]:
c

'SYED RAFEEQ FROM IBM'

In [146]:
c.find["ED"]:3

In [143]:
c.find[5:6]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [147]:
Name="syed rafeeq"

In [148]:
Name.find(ed)

NameError: name 'ed' is not defined

In [149]:
Name.find("ed")

2

In [150]:
Name.find("rafeeq")

5

In [151]:
name.find("sysysysysy")

-1

In [152]:
a="1"

In [153]:
a

'1'

In [154]:
b="2"

In [155]:
c=a+b

In [156]:
c

'12'

In [162]:
a="abcdghf"
print(a[0:4])

abcd

In [160]:
a=abcdefg

NameError: name 'abcdefg' is not defined

In [161]:
A=abdc

NameError: name 'abdc' is not defined

In [163]:
E = 'clocrkr1e1c1t'

In [164]:
e[::2]

NameError: name 'e' is not defined

In [165]:
e=[::2]

SyntaxError: invalid syntax (<ipython-input-165-8f8a10813687>, line 1)

In [166]:
print(e[::2])

NameError: name 'e' is not defined

In [167]:
E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [168]:
print(E[0:4])

cloc

In [169]:
e="syed rafeeq \n is from IBM"

In [170]:
e

'syed rafeeq \n is from IBM'

In [171]:
e="syed rafeeq \t from ibm"

In [172]:
e

'syed rafeeq \t from ibm'

In [173]:
e=("syed rafeeq \n from IBM")

In [174]:
e

'syed rafeeq \n from IBM'

In [175]:
print("/")

/

In [176]:
print("//")

//

In [177]:
print(r"/")

/

In [178]:
F = "You are wrong"
F=F.upper()

In [179]:
F

'YOU ARE WRONG'

In [180]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [181]:
G=G.find("snow")

In [182]:
G

95

In [183]:
G=G.replace("Mary", "Bob")

AttributeError: 'int' object has no attribute 'replace'

In [184]:
g

NameError: name 'g' is not defined

In [185]:
G

95

In [186]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [187]:
G.find("snow")

95

In [188]:
G.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [189]:
D = "ABCDEFG"
print(D[0:3])

ABC

In [190]:
print(D[0:3])

ABC

In [191]:
E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [195]:
print("\\")

\

In [193]:
print(r"//")

//

In [196]:
E = 'clocrkr1e1c1t'
E.upper()

'CLOCRKR1E1C1T'

In [197]:
E = 'clocrkr1e1c1t'
E.find(locr)

NameError: name 'locr' is not defined

In [198]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find("snow")

95

In [199]:
G.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [200]:
str(1)+str(2)

'12'

In [201]:
var = '01234567'

In [202]:
print(var[::2])

0246

In [207]:
Name="ABCD"
Name.find("B")

1

In [206]:
Name=ABCD

NameError: name 'ABCD' is not defined

In [208]:
str(1+1)

'2'

In [209]:
"1"+"2"

'12'

In [211]:
tuple1=("Disco" ,1 ,1.1)

In [212]:
tuple1

('Disco', 1, 1.1)

In [213]:
type(tuple1)

tuple

In [214]:
type(int)

type

In [215]:
type(1)

int

In [218]:
tuple1[-1]

1.1

In [219]:
tuple1[0:2]

('Disco', 1)

In [220]:
Name="Syed Rafeeq"

In [221]:
print(Name[0:3])

Sye

In [222]:
tuple1[0:3]

('Disco', 1, 1.1)

In [223]:
len(Name)

11

In [224]:
len(tuple1)

3

In [225]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
rating1=sorted(Ratings)

In [226]:
rating1

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [227]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [228]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [229]:
print("Element 0 of tuple: ", NestedT[0])

Element 0 of tuple:  1

In [231]:
print("Element 4.1 of Tuple: ", NestedT[4])
print("Element 4.2 of Tuple: ", NestedT[4])

Element 4.1 of Tuple:  ('disco', (1, 2))
Element 4.2 of Tuple:  ('disco', (1, 2))

In [233]:
print("Element 4.1.2 of tuple:" , NestedT[4])

Element 4.1.2 of tuple: ('disco', (1, 2))

In [237]:
NestedT[4][1][0]

1

In [238]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [240]:
print("Element 4, 1, 0 of Tuple: ",   NestedT[4][1][0])

Element 4, 1, 0 of Tuple:  1

In [241]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")

In [242]:
len(genres_tuble)

NameError: name 'genres_tuble' is not defined

In [243]:
len.genres_tuble

AttributeError: 'builtin_function_or_method' object has no attribute 'genres_tuble'

In [244]:
len[genres_tubles]

NameError: name 'genres_tubles' is not defined

In [245]:
genres_tubles

NameError: name 'genres_tubles' is not defined

In [246]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")

In [247]:
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [248]:
len[genres_tuple]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [249]:
len.genres_tuple

AttributeError: 'builtin_function_or_method' object has no attribute 'genres_tuple'

In [250]:
len(genres_tuple)

8

In [251]:
genres_tuple[3]

'hard rock'

In [252]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [254]:
genres_tuple[0:2]

('pop', 'rock')

In [255]:
genres_tuple.find["disco"]

AttributeError: 'tuple' object has no attribute 'find'

In [257]:
genres_tuple.index("disco")

7

In [258]:
C_tuple=(-5, 1, -3)

In [259]:
sorted.C_tuple

AttributeError: 'builtin_function_or_method' object has no attribute 'C_tuple'

In [260]:
sorted(C_tuple)

[-5, -3, 1]

In [261]:
L = ["Michael Jackson", 10.1, 1982]

In [262]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson

In [266]:
print("positive and negative indexing:\n positive:" ,L[0],'\n negative:' ,L[-3])

positive and negative indexing:
 positive: Michael Jackson
 negative: Michael Jackson

In [267]:
print[L[0]]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [268]:
L[o]

NameError: name 'o' is not defined

In [269]:
l[0]

NameError: name 'l' is not defined

In [270]:
L[0]

'Michael Jackson'

In [271]:
L[0:3]

['Michael Jackson', 10.1, 1982]

In [272]:
Name=["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

In [273]:
len(Name)

5

In [274]:
L.extend("Syed Rafeeq")

In [276]:
Name.extend("Syed Rafeeq")

In [279]:
Name

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'S',
 'y',
 'e',
 'd',
 ' ',
 'R',
 'a',
 'f',
 'e',
 'e',
 'q',
 'Syed Rafeeq']

In [278]:
Name.append('Syed Rafeeq')

Name

In [280]:
Name

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'S',
 'y',
 'e',
 'd',
 ' ',
 'R',
 'a',
 'f',
 'e',
 'e',
 'q',
 'Syed Rafeeq']

In [281]:
print("syed Rafeeq", Name)

syed Rafeeq ['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'S', 'y', 'e', 'd', ' ', 'R', 'a', 'f', 'e', 'e', 'q', 'Syed Rafeeq']

In [282]:
Syed Rafeeq

SyntaxError: invalid syntax (<ipython-input-282-17786fa6b5f0>, line 1)

In [283]:
Name

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'S',
 'y',
 'e',
 'd',
 ' ',
 'R',
 'a',
 'f',
 'e',
 'e',
 'q',
 'Syed Rafeeq']

In [284]:
print('Syed Rafeeq:' , Name)

Syed Rafeeq: ['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'S', 'y', 'e', 'd', ' ', 'R', 'a', 'f', 'e', 'e', 'q', 'Syed Rafeeq']

In [285]:
NAme

NameError: name 'NAme' is not defined

In [286]:
Name

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'S',
 'y',
 'e',
 'd',
 ' ',
 'R',
 'a',
 'f',
 'e',
 'e',
 'q',
 'Syed Rafeeq']

In [287]:
print('Syed Khaiser:' , Name)

Syed Khaiser: ['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'S', 'y', 'e', 'd', ' ', 'R', 'a', 'f', 'e', 'e', 'q', 'Syed Rafeeq']

In [289]:
"Syed Khaiser"

'Syed Khaiser'

In [290]:
A = ["disco", 10, 1.2]
print("before change:" , A)
A[0]="Syed Rafeeq"
print("after change:" , A)

before change: ['disco', 10, 1.2]
after change: ['Syed Rafeeq', 10, 1.2]

In [291]:
Name

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'S',
 'y',
 'e',
 'd',
 ' ',
 'R',
 'a',
 'f',
 'e',
 'e',
 'q',
 'Syed Rafeeq']

In [292]:
len(Name)

17

In [293]:
Name[18]="Syed Khaiser"

IndexError: list assignment index out of range

In [294]:
Name[17]:"Syed Khaiser"

In [295]:
Name

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'S',
 'y',
 'e',
 'd',
 ' ',
 'R',
 'a',
 'f',
 'e',
 'e',
 'q',
 'Syed Rafeeq']

In [296]:
L[17]

IndexError: list index out of range

In [297]:
L

['Michael Jackson',
 10.1,
 1982,
 'S',
 'y',
 'e',
 'd',
 ' ',
 'R',
 'a',
 'f',
 'e',
 'e',
 'q']

In [298]:
A = ["disco", 10, 1.2]

In [300]:
B="Syed Rafeeq", A

In [301]:
B

('Syed Rafeeq', ['disco', 10, 1.2])

In [302]:
A

['disco', 10, 1.2]

In [303]:
len(a)

7

In [304]:
Len(A)

NameError: name 'Len' is not defined

In [305]:
A

['disco', 10, 1.2]

In [306]:
len(A)

3

In [307]:
A[0]="Syed Rafeeq"

In [308]:
A

['Syed Rafeeq', 10, 1.2]

In [309]:
Del[0]

NameError: name 'Del' is not defined

In [310]:
A

['Syed Rafeeq', 10, 1.2]

In [311]:
Del[A[0]]

NameError: name 'Del' is not defined

In [312]:
Del.A[0]

NameError: name 'Del' is not defined

In [314]:
"Syed Rafeeq".split()

['Syed', 'Rafeeq']

In [316]:
"A,B,C,D".split(" , ")

['A,B,C,D']

In [317]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [318]:
A[0]="Syed Rafeeq"

In [319]:
print("A:", A)
print("B:" , B)

A: ['Syed Rafeeq', 10, 1.2]
B: ['Syed Rafeeq', 10, 1.2]

In [320]:
B=A[:]

In [321]:
B[0]="Syed Khaiser"

In [322]:
print("A:", A)
print("B:", B)

A: ['Syed Rafeeq', 10, 1.2]
B: ['Syed Khaiser', 10, 1.2]

In [323]:
a_list=[1,"Hello", [1,2,3], True]

In [326]:
a_list[1]

'Hello'

In [328]:
a_list("elemnt 1:", [1])
a_list("elemnt 2:", [2])
a_list("elemnt 3:", [3])

TypeError: 'list' object is not callable

In [329]:
a_list

[1, 'Hello', [1, 2, 3], True]

In [330]:
a_list[1:3]

['Hello', [1, 2, 3]]

In [331]:
print("element 1:", a_list[1])
print("element 2:", a_list[2])
print("element 3:", a_list[3])

element 1: Hello
element 2: [1, 2, 3]
element 3: True

In [333]:
A = [1, 'a']
B=[2, 1, 'd']
A+B

[1, 'a', 2, 1, 'd']

In [334]:
A=((1),[2,3],[4])
A[2]

[4]

In [335]:
A=((11,12),[21,22])
A[0][1]

12

In [336]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [337]:
A=["hard rock",10,1.2]

In [338]:
del(A[1])

In [339]:
A

['hard rock', 1.2]

In [340]:
len(("disco",10,1.2, "hard rock",10))

5

In [341]:
Dict={"Key1": "Syed Rafeeq", "Key2": 1, "Key3": [2,3,3], "Key4": 10.5}

In [342]:
Dict

{'Key1': 'Syed Rafeeq', 'Key2': 1, 'Key3': [2, 3, 3], 'Key4': 10.5}

In [344]:
Dict["Key1"]

'Syed Rafeeq'

In [348]:
Dict[(0, 1)]

KeyError: (0, 1)

In [353]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980",
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", 
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", 
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [354]:
release_year_dict["Thriller"]

'1982'

In [356]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [358]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [359]:
release_year_dict['Graduation'] = '2007'

In [360]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [361]:
release_year_dict["Syed Rafeeq"]="1997"

In [363]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007',
 'Syed Rafeeq': '1997'}

In [364]:
del(release_year_dict["Syed Rafeeq"])

In [365]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [366]:
'Graduation' in release_year_dict

True

In [367]:
"Syed Rafeeq" in release_year_dict

False

In [369]:
release_year_dict["Syed Rafeeq"]="1997"
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007',
 'Syed Rafeeq': '1997'}

In [370]:
del(release_year_dict["Syed Rafeeq"])

In [371]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [373]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours', 'Graduation'])

In [374]:
e_Key_dict.Values()

NameError: name 'e_Key_dict' is not defined

In [375]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977', '2007'])

In [377]:
Dict={"Syed Rafeeq": "1997"}

In [378]:
Dict

{'Syed Rafeeq': '1997'}

In [379]:
release_year_dict['Syed Rafeeq']='1997'

In [380]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007',
 'Syed Rafeeq': '1997'}

In [382]:
del(release_year_dict["Syed Rafeeq"])

In [383]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [387]:
'Rumours' in release_year_dict

True

In [389]:
release_year_dict['Rumours']='1977'

In [390]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [391]:
release_year_dict['Rumours']='1977'

In [392]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [393]:
release_year_dict['Rumor']='1977'

In [394]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007',
 'Rumor': '1977'}

In [395]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}

In [396]:
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [397]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [399]:
Name_list=[4,5,6,4,3,2]
Name_List2=set(Name_list)

In [400]:
Name_list2

NameError: name 'Name_list2' is not defined

In [401]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [402]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [403]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [404]:
A.add('Syed Rafeeq')

In [405]:
A

{'AC/DC', 'Back in Black', 'Syed Rafeeq', 'Thriller'}

In [406]:
A.remove('Syed Rafeeq')
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [407]:
# Verify if the element is in the set

"AC/DC" in A

True

In [408]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [409]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [410]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [411]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [412]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [413]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [414]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [415]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [416]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [417]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [418]:
set{'rap','house','electronic music', 'rap'}

SyntaxError: invalid syntax (<ipython-input-418-dd41bbdb706c>, line 1)

In [419]:
set({'rap','house','electronic music', 'rap'})

{'electronic music', 'house', 'rap'}

In [420]:
A = [1, 2, 2, 1]

In [421]:
B = set([1, 2, 2, 1])

In [422]:
print('sum of A:', A)
print('sum of B;', B)

sum of A: [1, 2, 2, 1]
sum of B; {1, 2}

In [423]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [424]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print('sum of A:', sum(A))
print('sum of B:', sum(B))

sum of A: 6
sum of B: 3

In [425]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [426]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [427]:
album_set3=album_set.union(album_set2)

In [428]:
album_set3

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'AC/DC',
 'Back in Black',
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'The Dark Side of the Moon',
 'Thriller'}

In [429]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [430]:
album_set1.issubset(album_set3)

True

In [431]:
A=(1,4,5,7,7)
B=set(A)

In [432]:
B

{1, 4, 5, 7}

In [434]:
V={'A','B'}
V.add('c')

In [435]:
V

{'A', 'B', 'c'}

In [1]:
a=5
a==6
a==a

True

In [2]:
# Condition Equal

a = 5
a == 6

False

In [3]:
i=6
i>5

True

In [4]:
i=2

In [5]:
i>5

False

In [6]:
i=2
i!=4

True

In [7]:
i=2
i!=2

False

In [8]:
i=2
i!=1

True

In [9]:
"syed rafeeq"=="syed khaiser"

False

In [10]:
"syed rafeeq"=="syed rafeeQ"

False

In [11]:
"syed rafeeq"=="syed rafeeq"

True

In [12]:
"syed rafeeq!"=="syed rafeeq"

False

In [13]:
"syed rafeeq!"=="syed khaiser"

False

In [16]:
"syed rafeeq" ! == "syed khaiser"

SyntaxError: invalid syntax (<ipython-input-16-317563f78dbc>, line 1)

In [17]:
"syed rafeeq"!="syed khaiser"

True

In [19]:
"syed rafeeq"!="syed rafeeq"

False

In [20]:
A=101
B=102
"A">"B"

False

In [22]:
A=103
B=102
"A">"B"

False

In [23]:
A=110
B=100
"A" > "B"

False

In [24]:
A=110
B=100
"A" < "B"

True

In [25]:
A=101
B=102
"A">"B"

False

In [26]:
"AB">"BA"

False

In [27]:
"AB" > "BA"

False

In [28]:
A=102
B=104
"B" > "A"

True

In [30]:
A=104
B=100
"B" > "A"

True

In [31]:
B

100

In [38]:
age=101
if (age>100):
    
    print("Move on")
    
    print("time to take rest")

Move on
time to take rest

In [41]:
age=18
if age>18:
    print("you can enter")
    
else:
    print("Go see meatloaf")
    print("move on ")

Go see meatloaf
move on

In [47]:
age=18
if age>18:
    print("you can enter")
    
elif age==18:
    print("Go see pink floyd")
    
else:
    print("Need to enter meatlof")
    print("moove on")

Go see pink floyd

In [52]:
syed rafeeq =1983
syed rafeeq =1970
if syed rafeeq > 1980:
    print("Good time to see your")

    print("Need to restructure")

SyntaxError: invalid syntax (<ipython-input-52-2b968f9c78e4>, line 1)

In [53]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [54]:
Syed = 25
Syed = 20

In [62]:
Syed = 25
Syed = 20
if Syed > 23:
    print("You can")
else:    
    
    print("Go same were else")

Go same were else

In [67]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [71]:
# Condition statement example

album_year = 1983

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

The Album was made in the 1980's

In [76]:
# Condition statement example

album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

In [78]:
syed = 1984

if not ( syed == "1984"):
    print ( " Not this year")

 Not this year

In [88]:
Rating = 8.5

if Rating >8:
    print("This album is amazing")

else:
    print("This album is Ok")

This album is amazing

In [89]:
album year = 1979

if album year < 1980 or album year == 1991 or album year ==1993:
    print("This year the album came out")

SyntaxError: invalid syntax (<ipython-input-89-ccbe2d2c63cc>, line 1)